.extend_content {
border: 1px solid;
border-radius: 4px;
background-color: #fff;
width: 25px !important;
height: 10px !important;
margin-top: 6px;
margin-right: 5px;
line-height: 4px !important;
text-align: center;
float: left;
}
.extend_content:hover {
border-color: #f00;
cursor: pointer;
}

.wikibubble_1 {
	background-color: #eee;
	padding: 10px;
}
.wikibubble_2 {
	background-color: #ddd;
	padding: 10px;
}
.wikibubble_3 {
	background-color: #ccc;
	padding: 10px;
}
.wikibubble_4 {
	background-color: #bbb;
	padding: 10px;
}
.wikibubble_5 {
	background-color: #aaa;
	padding: 10px;
}
.wikibubble_6 {
	background-color: #999;
	padding: 10px;
}
.wikibubble_7 {
	background-color: #888;
	padding: 10px;
}

